/* место для вашего кода */







header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
    font-size: 18px;
    text-underline-position: under;
}


.header__menu {
    padding: 0;
    margin: 0;
}
.header__menu > ul {
    display: flex;
}
.header__menu > ul > li {
    margin-left: 25px;
}
.header__menu .li_without-marker {
    list-style: none;
}
.header__menu .li_without-marker > a {
    text-decoration: none;
}

.header__adress {
    display: flex;
    flex-direction: column;
    justify-self: right;
    font-style: normal;
}



.section_cover {
    height: 757px;
    padding: 165px 50px 50px 50px;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    color: #fff;
}
.section_cover__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.section_cover__title {
    position: relative;
    z-index: 1;
    font-size: 100px;
    line-height: 1.15;
    text-transform: uppercase;
}
.section_cover__title__line {
    display: block;
    width: 100%;
}
.section_cover__title__line_left {
    text-align: left;
}
.section_cover__title__line_center {
    text-align: center;
}
.section_cover__title__line_right {
    text-align: right;
}
.section_cover__title__line__text_compressed {
    letter-spacing: 30px;
}
.section_cover__title__line__text_uncompressed {
    letter-spacing: 60px;
}

.section_cover__bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 135px;
    font-size: 22px;
    text-transform: uppercase;

}
.section_cover__bottom-bar__description {
    line-height: 1.28;
    word-spacing: 18px;
}
.section_cover__bottom-bar__button {
    padding: 12px 32px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.section_cover__bottom-bar__button:hover {
    background-color: #fff;
    color: #000;
}



.section_lots {
    padding: 0 24px;
    margin-top: 179px;
}
.section_lots__title {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 40px;
}

.section_lots__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin-top: 27px;
    list-style: none;
    color: #fff;
}
.section_lots__cards__item > a {
    display: block;
    text-decoration: none;
}
.section_lots__cards__item > a > article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 563px;
    position: relative;
    padding: 48px 40px;
    background-size: cover;
    background-position: center center;
}
.section_lots__cards__item__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.section_lots__cards__item__title {
    position: relative;
    z-index: 1;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: underline;
}
.section_lots__cards__item__description {
    position: relative;
    z-index: 1;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    display: block;
    margin: 30px 0 0 40px;
    font-size: 20px;
    text-decoration: underline;
    text-underline-position: under;
}