/* место для вашего кода */

header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
    font-size: 18px;
    text-underline-position: under;
}


.header__menu {
    padding: 0;
    margin: 0;
}
.header__menu > ul {
    display: flex;
}
.header__menu > ul > li {
    margin-left: 25px;
}
.header__menu .li_without-marker {
    list-style: none;
}
.header__menu .li_without-marker > a {
    text-decoration: none;
}

.header__adress {
    display: flex;
    flex-direction: column;
    justify-self: right;
    font-style: normal;
}